ul {
	background-color: goldenrod;
}

li {
	list-style-type: none;
	display: inline;
	margin-right: 8px;

}	


li a {
	text-decoration: none;
	font-size: 1.5em;
	color: magenta;
}

a:hover {
	color: limegreen;
	background-color: midnightblue;
}

li a:active {
	margin: 0 5px 0 5px;
}